@using Web.Controllers
<!--
    Reserve/Index
    -->

<h2>@ViewBag.Message</h2>
<h3>Kontakt Elektronik Værkstedet efterfølgende</h3>

@Html.ActionLink("OK - Tilbage til Forsiden", "Index", "Home", null, new { @class="btn btn-primary"})


